$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

$redColor: #b94a48;
$greenColor: #468847;
$blueColor: #3a87ad;
$orangeColor: #f89406;

/*-- Bootstrap --*/

/*.navbar-inverse .navbar-nav > li > a {
  color: #f1f1f1;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #3F3F3F;
}*/

/*-- Main --*/

body {
  background: url('/images/background.jpeg') no-repeat center center fixed;
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container { background-color: #FFF }

.badge-success { background-color:$greenColor; }
.badge-important { background-color: $redColor; }
.badge-info { background-color: $blueColor; }

#week-selector .btn-group { margin:20px 0;}

#make-picks, #admin-userpicks {
  td { vertical-align: middle; }
  .game-index.locked { background: url('/images/lock-icon.png') no-repeat right center; }
  .team-icon { border-right: none;}
  .team-cell { border-right: none; border-left:none; }
  .team-spread { border-right: none; border-left: none; color:$redColor; min-width:40px; }
  .team-selector { width:70px; border-left:none; }
}

#user-picks {
  .winner { color:red;}
}

#admin-games {
  td { height: 30px; line-height: 30px; }
  .editable-input { width:60px; }
  .editable-input input { width:40px; margin:0;}

  /*.team-icon { padding-left:30px; height: 30px; background: url('/images/teams-small.png') no-repeat left 0; }*/
}

#team-stats {
  svg text:last-child tspan:last-child { display:none;}
  h3 { line-height: 50px; }
  .page-header span { margin-right:10px; }
  .team-info {
    .team-icon-large { float: left; padding-right: 15px; }
  }
  td a { white-space: nowrap; display:inline-block; height: 20px;}
  .team-status { font-weight: bold; width:30px;}
}

#player-stats {
  h3 { line-height: 50px; }
  .charts svg { width:200px; height:150px; float:left; }
  .charts svg text { font-size:11px; }
  .charts .nv-legendWrap { width:100px;}
}

#quickpick { margin:20px 0;}

#login {
  .panel-info { padding:0;}
}

#leaderboard .tab-content { padding-top:20px;}

/*-- team icons --*/

$iconSize: -50px;

.team-icon-large { width: 50px; height: 50px; float:left; background: url('/images/teams.png') no-repeat left 0;}
.team-icon-small { width: 30px; height: 30px; float:left; background: url('/images/teams-small.png') no-repeat left 0; padding-left:30px;}

.team-Cardinals { background-position:0 $iconSize * 0 !important; }
.team-Falcons   { background-position:0 $iconSize * 1 !important; }
.team-Ravens    { background-position:0 $iconSize * 2 !important; }
.team-Bills     { background-position:0 $iconSize * 3 !important; }
.team-Panthers  { background-position:0 $iconSize * 4 !important; }
.team-Bears     { background-position:0 $iconSize * 5 !important; }
.team-Bengals   { background-position:0 $iconSize * 6 !important; }
.team-Browns    { background-position:0 $iconSize * 7 !important; }
.team-Cowboys   { background-position:0 $iconSize * 8 !important; }
.team-Broncos   { background-position:0 $iconSize * 9 !important; }
.team-Lions     { background-position:0 $iconSize * 10 !important; }
.team-Packers   { background-position:0 $iconSize * 11 !important; }
.team-Texans    { background-position:0 $iconSize * 12 !important; }
.team-Colts     { background-position:0 $iconSize * 13 !important; }
.team-Jaguars   { background-position:0 $iconSize * 14 !important; }
.team-Chiefs    { background-position:0 $iconSize * 15 !important; }
.team-Dolphins  { background-position:0 $iconSize * 16 !important; }
.team-Vikings   { background-position:0 $iconSize * 17 !important; }
.team-Patriots  { background-position:0 $iconSize * 18 !important; }
.team-Saints    { background-position:0 $iconSize * 19 !important; }
.team-Giants    { background-position:0 $iconSize * 20 !important; }
.team-Jets      { background-position:0 $iconSize * 21 !important; }
.team-Raiders   { background-position:0 $iconSize * 22 !important; }
.team-Eagles    { background-position:0 $iconSize * 23 !important; } 
.team-Steelers  { background-position:0 $iconSize * 24 !important; }
.team-Chargers  { background-position:0 $iconSize * 25 !important; }
.team-49ers     { background-position:0 $iconSize * 26 !important; }
.team-Seahawks  { background-position:0 $iconSize * 27 !important; }
.team-Rams      { background-position:0 $iconSize * 28 !important; }
.team-Buccaneers{ background-position:0 $iconSize * 29 !important; }
.team-Titans    { background-position:0 $iconSize * 30 !important; }
.team-Redskins  { background-position:0 $iconSize * 31 !important; }
