<div id="admin-teams">

  <div class="page-header">
    <h3>Admin: Teams</h3>
  </div>

   <div class="well">
    <form ng-submit="addTeams()" class="form-inline" role="form">
      <fieldset>
        <button type="submit" class="btn btn-primary btn-sm">Upload Teams</button>
      </fieldset>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table  table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Abbreviation</th>
          <th>Team Name</th>
          <th>Nick Name</th>
          <th>Division</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in teams">
          <td><div>{{$index + 1}}</div></td>
          <td><div>{{team.abbr}}</div></td>
          <td><div>{{team.name}}</div></td>
          <td><div>{{team.nickName}}</div></td>
          <td><div>{{team.division}}</div></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
