<div id="login">
  <div class="page-header">
    <h3>Please Log In</h3>
  </div>

  <div  ng-hide="hasSuccess" class="well well-lg col-sm-7">

    <!-- Error -->
    <div ng-show="hasError" class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Oops!</strong> Incorrect email or password. Please try again.
    </div>

    <form  ng-class="{'has-error' : hasError}" class="form-horizontal" role="form">
      <div class="form-group">
        <input type="email" ng-model="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" ng-model="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <div class="">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="remember"> Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-primary btn-block" ng-click="login()">Log In</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Success -->
  <div ng-show="hasSuccess" class="panel">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Success!</strong> You are now logged in.
    </div>
    <div>Now go pick you some winners!</div>
  </div>

 

  <!-- Register -->
  <div ng-hide="hasSuccess" class="panel panel-info col-sm-4 col-sm-offset-1">
    <div class="panel-heading">
      <h3 class="panel-title">Not registered?</h3>
    </div>
    <div class="panel-body">
      Click here to sign up for Mike's NFL Pool.
      <div class="clearfix"></div>
      <a href="#/register" class="btn btn-info">Register</a>
    </div>
  </div>

</div>