<div class="col-sm-8 col-sm-offset-2">

  <div class="page-header">
    <h3>Rules of the Game</h3>
  </div>

  <h4>Beat the spread</h4>

  Each person picks a team for each game played each week.  Everything is based on the spread.  YOU MUST BEAT THE SPREAD TO WIN.  For example, 49ers are favored by 7 over the Rams.  If you pick the 49ers  - they have to win by 8 or more for you to win.  If you pick the Rams  - and they win - you win, or if the 49ers win by 7 or less you win. You are free to change your picks as often as you want up to the time of the game.

  <h4>Spread Updates</h4>

  As the spread changes during the week, I try to keep it up to date - but the final spread is published in the local Argus newspaper on Friday morning before the games.  When there are games on Thursday or Saturday the spreads will be posted the day before the games.

  <h4>Missed Picks</h4>

  You are responsible for your picks. If you do not get your picks in you will not receive credit for those games you missed. If you are not able to make your picks because of business trips, vacation etc. you can let me know and I will enter your picks anyway you want. You are free to change your picks as often as you want up to the time of the game.

  <h4>Winning</h4>

  Each week if one person has more correct picks than anyone else then they win the pot for the week (amount to be determined).  If no one wins outright then the pot rolls over until there is a winner.  If there is no winner at the end of the season there will be a tie breaker to determine the  winner.

   At the end of the season the person with the most correct picks for the year will win the end of season pot (amount to be determined).  

  There is also a playoff pool which is separate from the regular pool and has it's own monetary prize.

  All prize money will be distributed after the Super Bowl has been played .

  <h4>Have Fun</h4>

  Most Important - This is a FUN game with a little cash to make it interesting.  RELAX and ENJOY...

  <br/><br/><br/><br/><br/><br/><br/><br/>
</div>

